{% extends 'layout.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ date_format(post.updated, 'Y-m-d H:i:s') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.content.author.nickname }}</span>
    </p>
    <div class="post-content">
        {{ post.content.content | raw }}
    </div>
    <a href="{{ '/posts' }}" class="btn btn-sm btn-primary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'Back to Posts' }}
    </a>
    {% if user and user.id == post.content.author.id %}
        <a href="{{ '/posts/edit/' ~ post.id }}" class="btn btn-sm btn-warning">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Edit Post' }}
        </a>
        <a href="{{ '/posts/delete/' ~ post.id }}" class="btn btn-sm btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i> {{ 'Delete Post' }}
        </a>
    {% endif %}
    {% if is_authenticated() %}
        <a href="{{ '/comment/post/' ~ post.id }}" class="btn btn-sm btn-primary pull-right">
            <i class="fa fa-comment-o" aria-hidden="true"></i> {{ 'New Comment' }}
        </a>
    {% endif %}
    <hr/>
    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> {{ 'Comments' }}
    </h3>
    {% for comment in post.comments %}
        <div class="row post-comment">
            <a name="_comments"></a>
            <h4 class="col-sm-3">
                <strong>{{ comment.content.author.nickname }}</strong>
                <strong>{{ date_format(comment.content.created, 'Y-m-d H:i:s') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content.content | raw }}
            </div>
            {% if is_authenticated() %}
                <div class="item-actions pull-right">
                    <a href="{{ '/report/comment/' ~ comment.id }}" class="btn btn-sm btn-warning">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Report' }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if is_authenticated() and user.id == post.content.author.id %}
            <div class="item-actions">
                <a href="{{ '/comments/edit/' ~ comment.id }}" class="btn btn-sm btn-warning">
                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Edit' }}
                </a>
                <a href="{{ '/comments/delete/' ~ comment.id }}" class="btn btn-sm btn-danger">
                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Delete' }}
                </a>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-dark" role="alert">
            No Comments, Be the first to comment !
            <a href="{{ '/comment-post/' ~ post.id }}" class="btn btn-sm btn-success">
                <i class="fa fa-comment-o" aria-hidden="true"></i> {{ 'Comment' }}
            </a>
        </div>
    {% endfor %}
{% endblock %}
