{% extends 'layout.html.twig' %}

{% block body_id 'delete_post' %}

{% block main %}
    {% if is_authenticated() %}
        <div class="row">
            <div class="col-sm-5">
                <div class="well">
                    <form action="{{ '/posts/delete-post/' }}{{ post.id }}" method="post">
                        <fieldset>
                            <legend><i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'Delete Post' }}</legend>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Delete' }}
                            </button>
                            <a href="{{ '/posts/edit-post/' }}{{ post.id }}" class="btn btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'Cancel' }}
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div id="login-users-help" class="panel panel-default">
            <div class="panel-body">
                <p>
                    <span class="label label-danger">{{ 'note' }}</span>
                    {{ 'You are not logged !' }}<br/>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}

    {{ parent() }}

{% endblock %}
