{% extends 'layout.html.twig' %}

{% block body_id 'edit_comment' %}

{% block main %}
    {% if is_authenticated() %}
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <form action="{{ '/comments/edit/' ~ comment.id }}" method="post">
                        <fieldset>
                            <legend><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'Edit Comment' }}</legend>
                            <div class="form-group">
                                <textarea id="content" name="_content" value="{{ comment.content.content }}" class="form-control"></textarea>
                            </div>
                            <a href="{{ '/posts/' ~ comment.post.id }}" class="btn btn btn-primary">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'Back to Post' }}
                            </a>
                            <a href="{{ '/comments/delete/' ~ comment.id }}" class="btn btn btn-danger pull-right">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'Delete' }}
                            </a>
                            <button type="submit" class="btn btn-success pull-right">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Submit' }}
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div id="login-users-help" class="panel panel-default">
            <div class="panel-body">
                <p>
                    <span class="label label-danger">{{ 'note' }}</span>
                    {{ 'You are not logged !' }}<br/>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}